

<div class="col-sm-12">
  <div class="card-body">

    <ul class="nav nav-pills mb-3" ngbNav #nav1="ngbNav">
    
      <li class="nav-item" [ngbNavItem]="1">
   
        <ng-template ngbNavContent>
          <div *ngIf="showdata">
            <app-card
              cardTitle="Track Incidents"
              [options]="false"
              blockClass="table-border-style"
            >

            <div *ngIf="totalItems === 0" class="no-data-message">
              <p>No data to display.</p>
            </div>
            <div class="row">
              <div class="col-4" *ngIf="totalItems > 0">
                
                <input  
                
                type="text" 
                style="width: 80%;margin-left: 30%;"
                placeholder="REf/ID" 
                [(ngModel)]="searchQuery" 
                (input)="updateDisplayedData()"
                class="form-control"
              />
              </div>
          
              <div class="col-4">

              </div>
              
              <div class="col-4">
                <div class="text-end" *ngIf="totalItems > 0" >
                  <button
                    class="btn btn-success custom-btn"
                    (click)="exportToExcel()"
                  >
                    To-Excel
                  </button>
                </div>
              </div>
            </div>
           <br>

              <!-- Table headers with sorting -->
              <div style="margin-left: 120px" *ngIf="totalItems > 0">
                
                <table class="table-responsive">
                  <div class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Reference No</th>
                        <th>Status</th>
                        <th>Current Level</th>
                        <th>Reporting Date</th>
                        <th>Reporting Officer</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of displayedIncidentList; let i = index">
                        <td>{{ (currentPage - 1) * itemsPerPage + (i + 1) }}</td>
                        <td>{{ row.incidentId }}</td>
                        <td>{{ row.incident_ref }}</td>
                        <td>{{ getStatusDescription(row.status) }}</td>
                        <td>{{ row.currentLevel }}</td>
                        <td>{{ row.reporting_date | date: "yyyy-MM-dd" }}</td>
                        <td>{{ row.reporting_officer }}</td>
                        <td>
                          <button class="btn btn-primary" (click)="onView(row)">
                            View
                          </button>
                          <br />
                        </td>
                      </tr>
                    </tbody>
                  </div>
                </table>
          
                <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px 0;">
                  <h6>Total: {{ displayedIncidentList.length }} of {{ totalItems }}</h6>
                  <nav aria-label="Page navigation example" style="margin-right: 180px;">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="javascript:" (click)="prevPage()" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item" *ngFor="let page of getPageArray()">
                        <a class="page-link" href="javascript:" (click)="goToPage(page)">{{ page }}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:" (click)="nextPage()" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
                
              </div>
              
            </app-card>
          </div>
        </ng-template>
      </li>
      <li class="nav-item" [ngbNavItem]="2" >
  
      
        <ng-template ngbNavContent>
          <!-- table for view data-->
          <div class="form-view" *ngIf="showform">
            <div>
            
              <app-card
              cardTitle="Incident Details"
              [options]="false"
              blockClass="table-border-style"
              
            >
            <div class="row">
              <div class="col-md-11"></div>
              <div class="col-md-1"> <button (click)="clickTab1()" style="width:35px;height:35px;margin-bottom: 10px; border-radius:25px;" class="btn btn-outline-danger fa fa-times" ></button>                           
              </div>
            </div>
              <div class="card-content-container">
            
               
                <h4 *ngIf="not_filled" class="alert_msg">
                  Please Fill All the Fields
                </h4>
            
                <div *ngIf="showSuccessMessage" class="success-message">
                  <h4>{{ successMessage }}</h4>
                </div>
            
                <div class="container">                   

                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.incidentId">
                      <strong><i ></i> ID:</strong>
                      <div class="detail heading" >
                       
                        <p class="field-value"  >{{ row.incidentId || "N/A"}}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.incident_ref">
                      <strong><i ></i>Reference Number :</strong>
                      <div class="detail">
                        
                        <p class="field-value">{{ row.incident_ref }}</p>
                      </div>
                    </div>
                 
                  </div>

                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.status">
                      <strong><i ></i>Status :</strong>
                      <div class="detail">
                       
                        <p class="field-value"> {{ getStatusDescription(row.status) }}</p>
                      </div>
                    </div>
                 
                    <div class="col-md-6" *ngIf="row.currentLevel">
                      <strong><i ></i> Current Level :</strong>
                      <div class="detail" >
                       
                        <p class="field-value">{{ row.currentLevel }}</p>
                      </div>
                    </div>
                  </div>  
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.region">
                      <strong><i ></i>Region :</strong>
                      <div class="detail" >
                       
                        <p class="field-value">{{ row.region.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.branch">
                      <strong><i ></i> Branch :</strong>
                      <div class="detail" >
                      
                        <p class="field-value">{{ row.branch.description }}</p>
                      </div>
                    </div>
                  </div>              
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.risk_owner">
                      <strong><i ></i> Responsible Person:</strong>
                      <div class="detail">
                       
                        <p class="field-value">{{ row.risk_owner }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.inc_description">
                      <strong><i ></i>Description :</strong>
                      <div class="detail" >
                       
                        <p class="field-value"> {{ row.inc_description }}</p>
                      </div>
                    </div>
                   
                  </div>
                
                 
                                 
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.sub_type">
                      <strong><i ></i> Risk Cause :</strong>
                      <div class="detail">
                      
                        <p class="field-value">{{ row.sub_type.riskCause.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.sub_type">
                      <strong><i ></i> Risk Sub Category :</strong>
                      <div class="detail">
                      
                        <p class="field-value">{{ row.sub_type.riskSubCategory.description }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                  
                    <div class="col-md-6" *ngIf="row.sub_type">
                      <strong><i ></i> Risk Sub Type :</strong>
                      <div class="detail" >
                      
                        <p class="field-value">{{ row.sub_type.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.reporting_officer">
                      <strong><i ></i>Reporting Officer :</strong>
                      <div class="detail">
                       
                        <p class="field-value">{{ row.reporting_officer }}</p>
                      </div>
                    </div>
                 
                  </div>


                  <div class="row mb-4">

                    <div class="col-md-6" *ngIf="row.detected_date">
                      <strong><i ></i> Occurence Date:</strong>
                      <div class="detail">
                    
                        <p class="field-value">{{ row.occurence_date | date: 'yyyy-MM-dd' }}</p>
                      </div>
                    </div>
                
                   
                    <div class="col-md-6" *ngIf="row.detected_date">
                      <strong><i ></i> Detected Date:</strong>
                      <div class="detail">
                    
                        <p class="field-value">{{ row.detected_date | date: 'yyyy-MM-dd' }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">
                  

                    <div class="col-md-6" *ngIf="row.reporting_date">
                      <strong><i></i>Reporting Date :</strong>
                      <div class="detail">
                        
                        <p class="field-value">{{ row.reporting_date | date: 'yyyy-MM-dd' }}</p>
                      </div>
                    </div>



                    <div class="col-md-6" *ngIf="row.actual_amount">
                      <strong><i></i>Actual Loss Amount :</strong>
                      <div class="detail">
                        
                        <p class="field-value">{{ row.actual_amount }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">


                    <div class="col-md-6" *ngIf="row.recoverd_amount">
                      <strong><i ></i>Recovered Amount :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.recoverd_amount }}</p>
                      </div>
                    </div>

                    <div class="col-md-6" *ngIf="row.potential_amount">
                      <strong><i ></i>Potential Loss Amount :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.potential_amount}}</p>
                      </div>
                    </div>

                
                
                 
                   
                  </div>

                  <div class="row mb-4">
                               
                    <div class="col-md-6" *ngIf="row.department">
                      <strong><i ></i>Department :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.department.description}}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.recovery_action">
                      <strong><i ></i>Recovery Action :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.recovery_action }}</p>
                      </div>
                    </div>



                   
                  </div>





                  <!-- risk Department Deatails -->

                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.businessLine">
                      <strong><i ></i> Business Line :</strong>
                      <div class="detail">
                        
                        <p class="field-value">{{ row.businessLine.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.businessAria">
                      <strong><i ></i> Business Aria :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.businessAria.description }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.consequence">
                      <strong><i ></i> Consequence :</strong>
                      <div class="detail">
                       
                        <p class="field-value">{{ row.consequence.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.riskLevel">
                      <strong><i ></i> Risk-Level :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.riskLevel.description }}</p>
                      </div>
                    </div>
                  </div>
                 
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.lossEventType">
                      <strong><i ></i>LossEvent Type :</strong>
                      <div class="detail">
                        
                        <p class="field-value"> {{ row.lossEventType.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.rootCause">
                      <strong><i ></i>Root cause :</strong>
                      <div class="detail" >
                      
                        <p class="field-value">{{ row.rootCause  }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                   

                    <div class="col-md-6" *ngIf="row.action">
                      <strong><i ></i>Action Taken By the Department :</strong>
                      <div class="detail" >
                       
                        <p class="field-value">{{ row.action  }}</p>
                      </div>
                    </div>
                  </div>

                  <!-- Show the Comments -->
         
                
                </div>
                <br>
                <div class="row no-margin" *ngIf="this.commentList.length > 0">
                 
                    <mat-card-title style="text-align: center;">Comments</mat-card-title>
                  
                      <table mat-table [dataSource]="commentList" matSort class="mat-elevation-z8">
                
                        <!-- Description Column -->
                        <ng-container matColumnDef="description">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                          <td mat-cell *matCellDef="let comment">{{ comment.description }}</td>
                        </ng-container>
                
                        <!-- Date Column -->
                        <ng-container matColumnDef="commentedDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                          <td mat-cell *matCellDef="let comment">{{ comment.commentedDate | date: 'yyyy-MM-dd' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="added_level">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Added Level</th>
                          <td mat-cell *matCellDef="let comment">{{ comment.added_level}}</td>
                        </ng-container>

                        <ng-container matColumnDef="addedUser">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Added User</th>
                          <td mat-cell *matCellDef="let comment">{{ comment.addedUser}}</td>
                        </ng-container>
                
                        <!-- Header and Row Definitions -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                
                      <!-- Pagination -->
                      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>
                 
            
                </div>
              </div>
            </app-card>
            
            </div>
          </div>
        </ng-template>
      </li>
      
      <!-- <div class="container">
        <div class="row justify-content-center">
          <form [formGroup]="formValue" class="row g-3 align-items-end">
       
            <div class="col-md-3">
              <label for="normalStartDate" class="form-label">From:</label>
              <input
                type="date"
                id="normalStartDate"
                name="normalStartDate"
                formControlName="startDate"
                class="form-control"
              />
            </div>
      
 
            <div class="col-md-3">
              <label for="totDate" class="form-label">To:</label>
              <input
                type="date"
                id="totDate"
                name="totDate"
                formControlName="endDate"
                class="form-control"
              />
            </div>
      
       
            <div class="col-md-3">
              <label for="search_by" class="form-label">Status</label>
              <select
                id="search_by"
                formControlName="search_by"
                class="form-select"
                required
                (change)="getPosts()"
              >
                <option value="CO">COMPLETED</option>
                <option value="DE">DECLINED</option>
                <option value="PE">PENDING</option>
                <option value="RE">REVERTED</option>
              </select>
            </div>
      
       
            <div class="col-md-3 d-flex justify-content-center">
              <button type="button" class="btn btn-primary w-100" (click)="getPosts()">Search</button>
            </div>
          </form>
        </div>
      </div> -->
      
      
      
    </ul>
    
    <div [ngbNavOutlet]="nav1" class="mt-2"></div>
  </div>
</div>
