<div *ngIf="showContent">
  <br />
  <div>
    <app-card cardTitle="System Users" [options]="false" blockClass="table-border-style">
      <div class="table-responsive" style="margin-left: 35px">
        <div class="d-flex align-items-center">
          <input
            style="width: 300px"
            type="text"
            [(ngModel)]="searchQuery"
            (input)="filterUsers()"
            placeholder="Search by Employee Code"
            class="form-control"
          />
          <button style="margin-left: auto" (click)="contentChange()" class="btn btn-success">ADD NEW</button>
        </div>
        <br />

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <!-- <th class="text-center">ID</th> -->
              <th class="text-center">Name</th>
              <!-- <th class="text-center">Designation</th> -->
              <th class="text-center">Branch</th>
              <th class="text-center">User Role</th>
              <th class="text-center">Status</th>
              <th class="text-center">Employee No</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of displayedUserList; let index = index">
              <td class="text-center">{{ (currentPage - 1) * itemsPerPage + (index + 1) }}</td>
              <!-- <td class="text-center">{{ row.userId }}</td> -->
              <td class="text-center">{{ row.fullName }}</td>
              <!-- <td class="text-center">{{ row.designation }}</td> -->
              <td class="text-center">{{ row.branch.description }}</td>
              <td class="text-center">{{ row.userT.description }}</td>
              <td class="text-center">{{ row.status }}</td>
              <td class="text-center">{{ row.employeeCode }}</td>
              <td class="text-center">
                <button (click)="onEdit(row)" class="btn btn-primary btn-sm">
                  <i class="fa fa-edit"></i> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Pagination Controls -->
        <div class="pagination-controls text-center">
          <button
            class="btn btn-secondary btn-sm"
            [disabled]="currentPage === 1"
            (click)="prevPage()"
          >
            Previous
          </button>
          <span style="margin: 0 10px;">Page {{ currentPage }} of {{ totalPages }}</span>
          <button
            class="btn btn-secondary btn-sm"
            [disabled]="currentPage === totalPages"
            (click)="nextPage()"
          >
            Next
          </button>
          
          Total: <strong>{{ totalItems }}</strong>
        </div>
      </div>
    </app-card>
  </div>
</div>

<!--Add user Details-->
<div *ngIf="showForm">
  
  
  <app-card
    cardTitle="User Details"
    [options]="false"
    blockClass="table-border-style"
  >
  <div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1"> <button (click)="clickCancel()" style="width:35px;height:35px;margin-bottom: 10px; border-radius:25px;" class="btn btn-outline-danger fa fa-times" ></button>                           
    </div>
  </div>

    <form [formGroup]="formValue" class="form">
      <h4
    *ngIf="not_filled"
    class="alert_msg"
    style="color: red; text-align: center"
  >
    Please Fill All the Fields correctly

     </h4>
 
     
      <!-- sec 1 -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name" class="form-label" readonly
              >Name<label style="color: red"> * </label></label
            >
            <input
              placeholder="Enter the name here"
              style="width: 80%"
              type="text"
              formControlName="name"
              class="form-control"
              id="name"
            />
          </div>
          <div hidden class="form-group">
            <label for="id" class="form-label" readonly
              >ID<label style="color: red"> * </label></label
            >
            <input
              placeholder="Enter the name here"
              style="width: 80%"
              type="text"
              formControlName="userId"
              class="form-control"
              id="userId"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="emp_code" class="form-label" readonly
              >Employee Code
              <label
                style="color: red"
                
              >
                *
              </label></label
            >
            <input
              placeholder="Eg:sdbl1234"
              style="width: 80%"
              type="text"
              formControlName="emp_code"
              class="form-control"
              id="emp_code"
            />
          </div>
        </div>
      </div>
      <br />

      <!-- sec 2 -->
      <div class="row">
        <!-- emty -->
        <div class="col-sm-6">
          <div class="form-group">
            <label for="grade" class="form-label" readonly
              >Grade
              <label style="color: red">
                *
              </label></label
            >
            <input
              placeholder="Eg:2"
              style="width: 80%"
              type="text"
              formControlName="grade"
              class="form-control"
              id="grade"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="designation" class="form-label"
              >Designation<label
                style="color: red"
              >
                *
              </label></label
            >
            <input
              placeholder="Eg:SE"
              style="width: 80%"
              type="text"
              formControlName="designation"
              class="form-control"
              id="designation"
            />
          </div>
        </div>
      </div>
      <br />

      <!-- sec 3 -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="form-label"
              >Email
              <label style="color: red">
                *
              </label></label
            >
            <input
              placeholder="eg:nav@gmail.com"
              style="width: 80%"
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="dropdown" class="form-label"
              >User Type <label style="color: red"> * </label></label
            >
            <select
              style="width: 50%"
              id="user_type"
              formControlName="user_type"
              class="form-select"
              required
              (change)="onUserTypeChange()"
            >
            <option
            *ngFor="let user_type_list of user_types"
            [value]="user_type_list.type"
          >
            {{ user_type_list.description }}
            
            
          </option>
            </select>
          </div>
        </div>
       
      </div>
      <br />
      <!-- sec 4 -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" *ngIf="showBranchDropdown">
            <label for="dropdown" class="form-label"
              >Branch <label style="color: red">*</label></label
            >
            <select
              style="width: 50%"
              id="branch"
              formControlName="branch"
              class="form-select"
              required
              
            >
              <option
                *ngFor="let branch of specificBranches"
                [value]="branch.branchId"
              >
                {{ branch.description }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group"   *ngIf="showRegionDropdown">
            <label for="dropdown" class="form-label"
              >Region
              <label style="color: red">
                *
              </label></label
            >
            <select
              style="width: 50%"
              id="region"
              formControlName="region"
              class="form-select"
              required
              (change)="onRegionChange()"
            
            >
              <option *ngFor="let region of regions" [value]="region.regionId">
                {{ region.description }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />

      <!-- sec 5 -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="dropdown" class="form-label"
              >STATUS<label style="color: red">*</label></label
            >
            <select
              style="width: 50%"
              id="status"
              formControlName="status"
              class="form-select"
              required
            >
              <option value="A">ACTIVE</option>
              <option value="I">INACTIVE</option>
            </select>
          </div>

        </div>
      <div class="col-sm-6" >
        <div class="form-group"  *ngIf="showDepartmentDropdown">
          <label for="dropdown" class="form-label"
            >DEPARTMENT <label style="color: red"> * </label></label
          >
          <select
            style="width: 50%"
            id="dep"
            formControlName="dep"
            class="form-select"
            required
           
          >
          <option
          *ngFor="let departments of departments"
          [value]="departments.departmentId"
        >
          {{ departments.description }}
          
          
        </option>
          </select>
        </div>
      </div>
          
      </div>
      <br>
      <div class="row">
          
        <div class="col-sm-6" style="padding: 0;">
          <br>
          <h6 class="mb-0" style="color: rgb(17, 15, 15); margin-left: 85px;">
            <span style="color: red">*</span> Mark is for required all the fields.
        </h6>
        
          
        </div>
      
        <div class="col-sm-6">
        
          <div class="button-container" style="margin-left: 98%px;">
            <button
              (click)="clickCancel()"
              class="btn btn-danger"
              type="button"
             
            >
              Cancel
            </button>
            <button
              *ngIf="create_btn"
              (click)="postDetails()"
              class="btn btn-primary"
              type="button"
            
            >
              Create
            </button>
            <button
              *ngIf="update_btn"
               (click)="updateUserDetails()"
              class="btn btn-primary"
              type="button"
             
            >
              UPDATE
            </button>
          </div>
        </div>
      </div>
      <br />
      
    </form>
  </app-card>
</div>
