


  .button-container {

    margin-left: 40%;
  }
  
  
    .form-group{
      font-weight: bold;
      gap: 10px;
      margin-left: 17%;
    }
    h6{
      margin-left: 8%;
    }
  
    td{
      padding-bottom: 2px;
      // margin-bottom: 20px;
    }
 