<div class="row ">
  <strong
    ><label style="color: black" for="risk_dep_status" class="form-label" *ngIf="currentLevel == 'ORM'"
      >FILTER WITH</label
    ></strong
  >
  <div class="col-md-8">
    <form [formGroup]="formValue"  *ngIf="currentLevel == 'ORM'">
      <div class="mb-3">
        <select
          id="risk_dep_status"
          formControlName="status"
          class="form-select"
          style="width: 30%"
          required
          (change)="onChangeStatus()"
        >
          <option value="CO">COMPLETED</option>
          <option value="DE">DECLINED</option>
          <option value="PE" selected>PENDING</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>

<div class="col-sm-12">
  <div class="card-body">
    <ul class="nav nav-pills mb-3" ngbNav #nav1="ngbNav">
      <li class="nav-item" [ngbNavItem]="1">
        <a
          (click)="clickTab1()"
          class="nav-link"
          ngbNavLink
          aria-controls="pills-home"
          aria-selected="true"
          >Incidents</a
        >
        <ng-template ngbNavContent>
          <div *ngIf="showdata">
            <app-card
              cardTitle="Received Incidents"
              [options]="false"
              blockClass="table-border-style"
            >

            <div *ngIf="!loading && totalItems === 0" class="no-data-message" style="text-align: center;">
              <p>No data to display.</p>
            </div>
            <div class="row">
              <div class="col-4" *ngIf="totalItems > 0">
                <input  
                type="text" 
                style="width: 70%;margin-left: 30%;"
                placeholder="REf/ID" 
                [(ngModel)]="searchQuery" 
                (input)="updateDisplayedData()"
                class="form-control"
              />
              </div>
          
              <div class="col-4">
                <!-- <div class="col-sm-1 mb-2" style="width:20px;">
                  <div class="flag-container">
                    <i class="material-icons" style="font-size: 30px;">flag</i>
                  </div>
                </div> -->
              </div>
              
              
              <div class="col-4">
                <div class="text-end" *ngIf="!loading && totalItems > 0" >
                  <button
                    class="btn btn-success custom-btn"
                    (click)="exportToExcel()"
                  >
                    To-Excel
                  </button>
                </div>
              </div>
            </div>
            <br>

              <!-- Table headers with sorting -->
          
              <table class="table-responsive" style="margin-left: 120px"  *ngIf="!loading && totalItems > 0">
                <div class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>ID</th>
                      <th>Reference No</th>
                      <th>Status</th>
                      <th>Current Level</th>
                      <th>Reporting Date</th>
                      <th>Reporting Officer</th>
                     
                      <th>Action</th>
                    </tr>
                  </thead>

               
                  <tbody>
                  
                    <tr *ngFor="let row of displayedIncidentList; let i = index"
                    [ngClass]="{ 'green-row': row.justification != 0 }">
                

                      <td  >{{ (currentPage - 1) * itemsPerPage + (i + 1) }}</td>
                      <td >{{ row.incidentId }}</td>
                      <td>{{ row.incident_ref}}</td>
                      <td>{{ getStatusDescription(row.status) }}</td>
                      <td>{{ row.currentLevel }}</td>
                      <td>{{ row.reporting_date | date: "yyyy-MM-dd" }}</td>
                      <td>{{ row.reporting_officer }}</td>
                     
                      <td>
                        <button class="btn btn-primary" (click)="onView(row)">
                          View
                        </button>
                        <br />
                      </td>
                    </tr>
                  </tbody>


                </div>
              </table>
              <br />

              <!-- pagination -->
              <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 120px;"  *ngIf="!loading && totalItems > 0">
                <h6>Total: {{ displayedIncidentList.length }} of {{ totalItems }}</h6>
                <nav aria-label="Page navigation example" style="margin-right: 250px;">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="javascript:" (click)="prevPage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item" *ngFor="let page of getPageArray()">
                      <a class="page-link" href="javascript:" (click)="goToPage(page)">{{ page }}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:" (click)="nextPage()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </app-card>
          </div>
        </ng-template>
      </li>

      <li class="nav-item" [ngbNavItem]="2">
        <a
          class="nav-link"
          ngbNavLink
          aria-controls="pills-home"
          aria-selected="true"
          >Details</a
        >
        <ng-template ngbNavContent>
          <!-- table for view data-->
          <div class="form-view" *ngIf="showform">
            <!-- Show the Comments -->

      
            <div>
          
              <app-card 
                cardTitle="Incident Details"
                [options]="false"
                blockClass="table-border-style"
              >
              <div class="row">
                <div class="col-md-11"></div>
                <div class="col-md-1"> <button (click)="clickTab1()" style="width:35px;height:35px;margin-bottom: 10px; border-radius:25px;" class="btn btn-outline-danger fa fa-times" ></button>                           
                </div>
              </div>
                <h4 class="text-center">CREATION LEVEL DETAILS</h4>
                <br />
                <div class="container">                   

                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.incidentId">
                      <strong><i ></i> ID:</strong>
                      <div class="detail heading" >
                       
                        <p class="field-value"  >{{ row.incidentId || "N/A"}}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.incident_ref">
                      <strong><i ></i>Reference Number :</strong>
                      <div class="detail">
                        
                        <p class="field-value">{{ row.incident_ref }}</p>
                      </div>
                    </div>
                 
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.status">
                      <strong><i ></i>Status :</strong>
                      <div class="detail">
                       
                        <p class="field-value"> {{ getStatusDescription(row.status) }}</p>
                      </div>
                    </div>
                 
                    <div class="col-md-6" *ngIf="row.currentLevel">
                      <strong><i ></i> Current Level :</strong>
                      <div class="detail" >
                       
                        <p class="field-value">{{ row.currentLevel }}</p>
                      </div>
                    </div>
                  </div>  
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.region">
                      <strong><i ></i>Region :</strong>
                      <div class="detail" >
                       
                        <p class="field-value">{{ row.region.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.branch">
                      <strong><i ></i> Branch :</strong>
                      <div class="detail" >
                      
                        <p class="field-value">{{ row.branch.description }}</p>
                      </div>
                    </div>
                  </div>              
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.risk_owner">
                      <strong><i ></i> Responsible Person:</strong>
                      <div class="detail">
                       
                        <p class="field-value">{{ row.risk_owner }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.inc_description">
                      <strong><i ></i>Description :</strong>
                      <div class="detail" >
                       
                        <p class="field-value"> {{ row.inc_description }}</p>
                      </div>
                    </div>
                   
                  </div>                                 
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.sub_type">
                      <strong><i ></i> Risk Cause :</strong>
                      <div class="detail">
                      
                        <p class="field-value">{{ row.sub_type.riskCause.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.sub_type">
                      <strong><i ></i> Risk Sub Category :</strong>
                      <div class="detail">
                      
                        <p class="field-value">{{ row.sub_type.riskSubCategory.description }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                  
                    <div class="col-md-6" *ngIf="row.sub_type">
                      <strong><i ></i> Risk Sub Type :</strong>
                      <div class="detail" >
                      
                        <p class="field-value">{{ row.sub_type.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.reporting_officer">
                      <strong><i ></i>Reporting Officer :</strong>
                      <div class="detail">
                       
                        <p class="field-value">{{ row.reporting_officer }}</p>
                      </div>
                    </div>
                 
                  </div>
                  <div class="row mb-4">

                    <div class="col-md-6" *ngIf="row.detected_date">
                      <strong><i ></i> Occurence Date:</strong>
                      <div class="detail">
                    
                        <p class="field-value">{{ row.occurence_date | date: 'yyyy-MM-dd' }}</p>
                      </div>
                    </div>
                
                   
                    <div class="col-md-6" *ngIf="row.detected_date">
                      <strong><i ></i> Detected Date:</strong>
                      <div class="detail">
                    
                        <p class="field-value">{{ row.detected_date | date: 'yyyy-MM-dd' }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.reporting_date">
                      <strong><i></i>Reporting Date :</strong>
                      <div class="detail">
                        
                        <p class="field-value">{{ row.reporting_date | date: 'yyyy-MM-dd' }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.actual_amount">
                      <strong><i></i>Actual Loss Amount :</strong>
                      <div class="detail">
                        
                        <p class="field-value">{{ row.actual_amount }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">


                    <div class="col-md-6" *ngIf="row.recoverd_amount">
                      <strong><i ></i>Recovered Amount :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.recoverd_amount }}</p>
                      </div>
                    </div>

                    <div class="col-md-6" *ngIf="row.potential_amount">
                      <strong><i ></i>Potential Loss Amount :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.potential_amount}}</p>
                      </div>
                    </div>

                
                
                 
                   
                  </div>
                  <div class="row mb-4">
                               
                    <div class="col-md-6" *ngIf="row.department">
                      <strong ><i ></i>Department :</strong>
                   
                      <div class="detail">
                     
                        <p class="field-value">{{ row.department.description}}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.recovery_action">
                      <strong><i ></i>Recovery Action :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.recovery_action }}</p>
                      </div>
                    </div>


  
                  </div>

                  <div class="row mb-4">            
                    <div class="col-md-6" >
                      <span style="font-weight: bold;color: red;">View Documents</span>
                      <select
                      style="width: 70%;"
                      id="doc"
                      name="doc"
                      class="form-select"
                      (change)="viewFile($event)"
                       >
                      <option selected value="se" disabled>Select docs to view</option>
                      <option *ngFor="let doc of docList" [value]="doc.docPath">
                        {{ doc.status }} - {{ doc.docType }}
                      </option>
                      </select>                
                    </div>
                   </div>


                  <!-- risk Department Deatails -->

                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.businessLine">
                      <strong><i ></i> Business Line :</strong>
                      <div class="detail">
                        
                        <p class="field-value">{{ row.businessLine.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.businessAria">
                      <strong><i ></i> Business Aria :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.businessAria.description }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.consequence">
                      <strong><i ></i> Consequence :</strong>
                      <div class="detail">
                       
                        <p class="field-value">{{ row.consequence.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.riskLevel">
                      <strong><i ></i> Risk-Level :</strong>
                      <div class="detail">
                     
                        <p class="field-value">{{ row.riskLevel.description }}</p>
                      </div>
                    </div>
                  </div>                 
                  <div class="row mb-4">
                    <div class="col-md-6" *ngIf="row.lossEventType">
                      <strong><i ></i>LossEvent Type :</strong>
                      <div class="detail">
                        
                        <p class="field-value"> {{ row.lossEventType.description }}</p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="row.rootCause">
                      <strong><i ></i>Root cause :</strong>
                      <div class="detail" >
                      
                        <p class="field-value">{{ row.rootCause  }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">                 

                    <div class="col-md-6" *ngIf="row.action">
                      <strong><i ></i>Action Taken By the Risk Department :</strong>
                      <div class="detail" >
                       
                        <p class="field-value">{{ row.action  }}</p>
                      </div>
                    </div>

                  </div>

                  <!-- Show the Comments -->
                </div>
                
                <br>
              
                <!-- showing risk deparment data filled by RO -->
                <div *ngIf="ro_data">
                  <h4 class="text-center">RISK DEPARTMENT DETAILS</h4>
                    <br />
                  <div class="row" style="margin-left: 4%;">
                   
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Incident Type:</strong>
                        <p style="display: inline-block" class="field-value">
                          {{ row.incidentType.description }}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Status :</strong>
                        <p style="display: inline-block" class="field-value">
                          {{ statusDescriptions[row.status] }}
                        </p>
                      </div>
                    </div>
                  
                  </div>
                  <div class="row" style="margin-left: 4%;">
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Loss Event Type:</strong>
                        <p style="display: inline-block" class="field-value">
                          {{ row.lossEventType.description }}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Business Line:</strong>
                        <p style="display: inline-block" class="field-value">
                          {{ row.businessLine.description }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-left: 4%;">
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Business Aria:</strong>
                        <p style="display: inline-block" class="field-value">
                          {{ row.businessAria.description }}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Consequences of incident:</strong>
                        <p style="display: inline-block" class="field-value">
                          {{ row.consequence.description }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-left: 4%;">
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Risk Level:</strong>
                        <p style="display: inline-block" class="field-value">
                          {{ row.riskLevel.description }}
                        </p>
                      </div>
                   </div>
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Potential Loss Amount:</strong>
                        <p style="display: inline-block" class="field-value">
                          {{ row.potential_amount }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-left: 4%;">
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Actual Amount:</strong>
                        <p style="display: inline-block" class="field-value">
                          {{ row.actual_amount }}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                     
                    </div>
                  </div>
                  <div class="row" style="margin-left: 4%;">
                    <div class="col-md-6">
                      <div class="detail">
                        <strong>Action Taken By the Risk Department :</strong>
                        <!-- <p style="display: inline-block" class="field-value">
                          {{ row.action }}
                        </p> -->
                        <textarea class="field-value textarea-field" readonly>{{ row.action }}</textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail">
                          <strong>Root cause analysis:</strong>
                          <!-- <p style="display: inline-block" class="field-value">
                            {{ row.rootCause }}
                          </p> -->
                          <textarea class="field-value textarea-field" readonly>{{ row.rootCause }}</textarea>
                        </div>
                    </div>
                  </div>
                </div>
                <br>
            
      

                <!-- RO filling Form Start  -->
                <form
                  [formGroup]="formValue"
                  class="container"
                  *ngIf="form_fill"
                >
                  <!-- Row 1: Comment and Action -->

                  <div class="row" >
                    <div class="col-md-6">
                      <label style="font-weight: bold" class="comment-label"
                        >Root Cause Analysis</label
                      ><label style="color: red"> * </label>
                      <textarea
                        class="comment-input form-control"
                        rows="3"
                        formControlName="root_cause"
                        required
                      ></textarea>
                    </div>
                    <div class="col-md-6">
                      <label style="font-weight: bold" class="comment-label"
                        >Action taken by Risk  Department</label
                      ><label style="color: red"> * </label>
                      <br />
                      <textarea
                        class="comment-input form-control"
                        rows="3"
                        formControlName="action_taken"
                        required
                      ></textarea>
                    </div>
                  </div>

                  <!-- Row 2: Dropdowns -->
                  <div class="row mt-3">
                    <!-- Dropdown 1 -->
                    <div class="col-md-4">
                      <label for="incident_type" class="form-label"
                        >Incident Type</label
                      ><label style="color: red"> * </label>
                      <select
                        style="width: 100%"
                        id="incident_type"
                        formControlName="incident_type"
                        class="form-select"
                        required
                      >
                        <option value="0" disabled>select..</option>
                        <option
                          *ngFor="let incidentTypeList of incidentTypeList"
                          [value]="incidentTypeList.incidentTypeId"
                        >
                          {{ incidentTypeList.description }}
                        </option>
                      </select>
                    </div>

                    <!-- Dropdown 2 -->
                    <div class="col-md-4">
                      <label for="loss_event_type" class="form-label"
                        >Loss Event Type</label
                      ><label style="color: red"> * </label>
                      <select
                        style="width: 100%"
                        id="loss_event_type"
                        formControlName="loss_event_type"
                        class="form-select"
                        required
                      >
                        <option value="0" disabled>select..</option>
                        <option
                          *ngFor="let lossEventTypeList of lossEventTypeList"
                          [value]="lossEventTypeList.lossEventTypeId"
                        >
                          {{ lossEventTypeList.description }}
                        </option>
                      </select>
                    </div>

                    <!-- Dropdown 3 -->
                    <div class="col-md-4">
                      <label for="business_line" class="form-label"
                        >Business Line</label
                      ><label style="color: red"> * </label>
                      <select
                        style="width: 100%"
                        id="business_line"
                        formControlName="business_line"
                        class="form-select"
                        required
                      >
                        <option value="0" disabled>select..</option>
                        <option
                          *ngFor="let businessLineList of businessLineList"
                          [value]="businessLineList.businessLineId"
                        >
                          {{ businessLineList.description }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <!-- Row 3: More Dropdowns -->
                  <div class="row mt-3">
                    <!-- Dropdown 4 -->
                    <div class="col-md-4">
                      <label for="business_aria" class="form-label"
                        >Business Aria</label
                      ><label style="color: red"> * </label>
                      <select
                        style="width: 100%"
                        id="business_aria"
                        formControlName="business_aria"
                        class="form-select"
                        required
                      >
                        <option value="0" disabled>select..</option>
                        <option
                          *ngFor="let businessAriaList of businessAriaList"
                          [value]="businessAriaList.businessAriaId"
                        >
                          {{ businessAriaList.description }}
                        </option>
                      </select>
                    </div>

                    <!-- Dropdown 5 -->
                    <div class="col-md-4">
                      <label for="consequence" class="form-label"
                        >Consequences of Incident</label
                      ><label style="color: red"> * </label>
                      <select
                        style="width: 100%"
                        id="consequence"
                        formControlName="consequence"
                        class="form-select"
                        required
                      >
                        <option value="0" disabled>select..</option>
                        <option
                          *ngFor="let consequenceList of consequenceList"
                          [value]="consequenceList.consequenceId"
                        >
                          {{ consequenceList.description }}
                        </option>
                      </select>
                    </div>

                    <!-- Dropdown 6 -->
                    <div class="col-md-4">
                      <label for="risk_level" class="form-label"
                        >Risk Level</label
                      ><label style="color: red"> * </label>
                      <select
                        style="width: 100%"
                        id="risk_level"
                        formControlName="risk_level"
                        class="form-select"
                        required
                      >
                        <option value="0" disabled>select..</option>
                        <option
                          *ngFor="let riskLevelList of riskLevelList"
                          [value]="riskLevelList.riskLevelId"
                        >
                          {{ riskLevelList.description }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <br />
                  <!-- Row 4: Root Cause Analysis and Buttons -->
                  <div class="row">
                    <div class="col-md-4">
                      <label for="potential_amount" class="form-label"
                        >Potential loss Amount<label style="color: red">
                          *
                        </label></label
                      >
                      <input
                        placeholder="Potential amount"
                        style="width: 100%"
                        type="number"
                        formControlName="potential_amount"
                        class="form-control"
                        id="potential_amount"
                      />
                    </div>
                    <div class="col-md-4">
                      <label for="actual_amount" class="form-label"
                        >Actual loss Amount<label style="color: red">
                          *
                        </label></label
                      >
                      <input
                        placeholder="Actual Amount"
                        style="width: 100%"
                        type="number"
                        formControlName="actual_amount"
                        class="form-control"
                        id="actual_amount"
                      />
                    </div>
                    <div class="col-md-4">
                      <label style="font-weight: bold" class="comment-label"
                        >Comment</label
                      ><label style="color: red"> * </label>
                      <br />
                      <textarea
                        class="comment-input form-control"
                        rows="3"
                        [(ngModel)]="comment"
                        formControlName="comment"
                        required
                      ></textarea>
                    </div>
                  </div>

                  <div class="row align-items-center">

                    <div class="col-md-4">
                      <!-- Example single danger button -->
                      <div class="btn-group">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Justification from Department
                        </button>
                        <ul class="dropdown-menu">
                          <li *ngFor="let dep of filteredDepartment">
                            <button class="dropdown-item" (click)="alertWithConfirm($event)"  [value]="dep.departmentId">
                              {{ dep.description }}
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <button
                        class="btn btn-danger"
                        (click)="sendBackDetails(row)"
                      >
                        SEND-BACK
                      </button>
                      <button
                        class="btn btn-primary"
                        (click)="updateIncidents()"
                      >
                        APPROVE
                      </button>
                     
                    </div>
                  </div>
                </form>

                <!-- Form End -->
                <div
                *ngIf="showEmtyMessage"
                class="emty-message"
                style="
                  background-color: whitesmoke;
                  padding: 10px;
                  max-width: 400px;
                  margin: 0 auto;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <h4 style="color: rgb(6, 204, 39); margin: 0">
                  {{ emtyMessage }}
                </h4>
                </div>
                <!-- other form srt -->
                <div class="form-container d-flex justify-content-center">
                  <form [formGroup]="formValue" *ngIf="form_decide" class="col-md-8 mx-auto">
                    <div class="mb-3" style="margin-left: 14%;">
                      <label style="font-weight: bold" class="comment-label">Comment</label><br /><br />
                      <textarea
                        class="comment-input form-control"
                        rows="3"
                        formControlName="comment"
                        style="width: 80%"
                        [(ngModel)]="comment"
                        required
                      ></textarea>
                      <label style="color: red" *ngIf="comment == null || comment == ''">Required</label><br />
                    </div>   
                    <div class="text-md-end">
                      <div class="d-flex justify-content-center">
                        <button  class="btn btn-danger" (click)="sendBack(row)" *ngIf="row.justification == 0">SendBack</button>
                        <button class="btn btn-primary" (click)="forward(row)">SUBMIT</button>

      

                        
                      </div>
                    </div>
                  </form>
                </div>
                

                <!-- other form end -->

                <!-- ORM form start -->
                <form [formGroup]="formValue" *ngIf="status_fill">
                  <div class="row align-items-center" style="margin-left: 14%;">
                    <div class="col-md-4">
                      <label style="font-weight: bold" class="comment-label"
                        >Comment</label
                      ><label style="color: red"> * </label>

                      <br />
                      <textarea
                        class="comment-input form-control"
                        rows="3"
                        formControlName="comment"
                        required
                      ></textarea>
                    </div>

                    <div class="col-md-4">
                      <label for="risk_dep_status" class="form-label"
                        >Status</label
                      ><label style="color: red"> * </label>
                      <select
                        id="risk_dep_status"
                        formControlName="risk_status"
                        class="form-select"
                        required
                      
                      >
                        <option value="CO">Completed</option>
                        <option value="RE">Revert</option>
                        <option value="DE">Declined</option>
                        <option value="PE">Pending</option>
                      </select>
                    </div>

                    <div class="col-md-4">
         
                      <button class="btn btn-primary" (click)="updateStatus()" [disabled]="isIncidentCompleted">
                        UPDATE
                      </button>
                    </div>
                  </div>
                </form>
                   <!-- test srt -->
                    <br>
                   <div class="row no-margin" *ngIf="this.commentList.length > 0">
                      
                    <mat-card-title style="text-align: center;">Comments</mat-card-title>
                  
                      <table mat-table [dataSource]="commentList" matSort class="mat-elevation-z8">
                
                        <!-- Description Column -->
                        <ng-container matColumnDef="description">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                          <td mat-cell *matCellDef="let comment">{{ comment.description }}</td>
                        </ng-container>
                
                        <!-- Date Column -->
                        <ng-container matColumnDef="commentedDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                          <td mat-cell *matCellDef="let comment">{{ comment.commentedDate | date: 'yyyy-MM-dd' }}</td>
                        </ng-container>
      
                        <ng-container matColumnDef="added_level">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Added Level</th>
                          <td mat-cell *matCellDef="let comment">{{ comment.added_level}}</td>
                        </ng-container>
      
                        <ng-container matColumnDef="addedUser">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Added User</th>
                          <td mat-cell *matCellDef="let comment">{{ comment.addedUser}}</td>
                        </ng-container>
                
                        <!-- Header and Row Definitions -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                
                      <!-- Pagination -->
                      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>
                
      
                  </div>
                      <!-- test end -->
              </app-card>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
  
    <div [ngbNavOutlet]="nav1" class="mt-2"></div>
  </div>
</div>

<div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100%; position: absolute; top: 0; left: 0;">
  <img src="assets/images/loading.svg" style="width: 7%;" />
</div>