.field-label {
    font-weight: bold;
    // margin-right: 10px; 
  }
  
  // .field-value {
  //   margin-left: 10px; 
     
  // }
  
  .form-group{
      font-weight: bold;
      gap: 10px;
    }
  
  .custom-pills .nav-link {
    font-size: 14px;  
    padding: 2px 5px;  
    margin-right: 0px; 
  }
  
  // .row{
  //   margin-left: 10%;
  // }
  
  .no-margin {
    margin-left: 0;
  }
  
  strong{
    font-weight: bold;
  }


  .export-btn {
    margin-left: auto;
    display: block;
}

  
  