<div class="background" *ngIf="loading">
  <div class="login-container">
    <!-- Logo Section -->
    <div class="logo-container">
      <img src="assets/images/SDB_logo.png" class="logo-image" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="formValue" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          placeholder="Enter your username"
          required
        />
        <label class="error-message" *ngIf="formValue.get('username').hasError('required')">
          Required
        </label>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          required
        />
        <label class="error-message" *ngIf="formValue.get('password').hasError('required')">
          Required
        </label>
      </div>
      <button
        type="submit"
        class="login-button"
        [disabled]="formValue.get('username').invalid || formValue.get('password').invalid"
      >
        Login
      </button>
    </form>

    <!-- Login Message -->
    <div class="login-message" [ngClass]="loginMessageClass">{{ loginMessage }}</div>
  </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="!loading" class="loading-container">
  <img src="assets/images/loading.svg" />
</div>



