.sidebar {
  background: #dce9ee; /* Enforce the background color */
    height: 100vh; /* Full height of the viewport */
    width: 250px; /* Fixed width for the sidebar */
    position: fixed; /* Ensure it stays in place */
    top: 0;
    left: 0;
    overflow-y: auto; /* Enable scrolling if content overflows */
  }