

.button-container {
  // display: flex;
  // align-items: flex-end; /* Use flex-end to align items at the bottom of the container */
  // justify-content: flex-end; /* Align items to the right */
  // gap: 15px;
  margin-left: 15%;
}


  .form-group{
    font-weight: bold;
    gap: 10px;
    // width: 70%;
  }

  .file-loading {
    margin-top: 10px;
  }
  


  .gap {
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
    padding: 0 15px; /* Add padding for consistent spacing */
  }
  
  .form {
    width: 100%; /* Ensure the form takes the full width of the container */
  }
  
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  