

.button-container {
  // display: flex;
  // align-items: flex-end; /* Use flex-end to align items at the bottom of the container */
  // justify-content: flex-end; /* Align items to the right */
  // gap: 15px;
  margin-left: 15%;
}


  .form-group{
    font-weight: bold;
    gap: 10px;
    // width: 70%;
  }

 

 
  
  