/* Sidebar Container */
.sidebar {
    // width: 250px;
    // height: 60vh;
    background: #dce9ee; /* Gradient background */
    // color: #3176ee;
    // position: fixed;
    // top: 0;
    // left: 0;
    // overflow-y: auto;
    // transition: all 0.3s ease;
  }
  
  /* Logo Section */
  .logo-container {
    background: #dce9ee;
    padding: 22px;
 
    text-align: center;
    border-bottom: 1px solid #ccd4dc;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .logo-image {
    object-fit: contain;
    width: 220px;
    margin-top: 10px;
  }
  
 